<div class="container text-center col-md-6">
  <form action="/toy/add" method="post">
    <h1 class="text text-primary text-uppercase">Create new toy</h1>
    <div class="form-group">
      <label for="productId">Toy ID</label>
      <input class="form-control" type="text" id="productId" name="productId">
    </div>
    <div class="form-group">
      <label for="productName">Toy Name</label>
      <input class="form-control" type="text" id="productName" name="productName">
    </div>
    <div class="form-group">
      <label for="addDate">Production Date</label>
      <input class="form-control" type="date" id="addDate" name="addDate">
    </div>
    <div class="form-group">
      <label for="quantity">Toy Quantity</label>
      <input class="form-control" type="number" id="quantity" name="quantity">
    </div>
    <div class="form-group">
      <label for="image">Toy Image</label>
      <input class="form-control" type="url" id="image" name="image">
    </div>
    <div class="form-group">
      <label for="category">Category Name</label>
      <select class="form-control" id="category" name="category">
        {{#each categories }}
        <option value="{{ _id }}">{{ name }}</option>
        {{/each}}
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Add</button>
  </form>
</div>