body {
  box-sizing: border-box;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #333;
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

.banner {
  text-align: center;
  padding: 50px 0;
  background-color: #f8f9fa;
}

.banner h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #333;
}

.banner p {
  font-size: 1.5rem;
  color: #555;
}

a {
  color: #00B7FF;
}

.maudo {
  color: red;
}

.cangiua {
  text-align: center;
}

.indam {
  font-weight: bold;
}

.innghieng {
  font-style: italic;
}

.gachchan {
  text-decoration: underline;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
}

.img {
  vertical-align: middle;
  max-width: 1000px;
  max-height: 1000px;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}